$color: {
  primary: antiquewhite
  secondary: #ff3333; 

};
ul{
list-style: none;
padding: 0;
margin: 60px 0;

li{

  display: inline-block;

  a{
    text: {
      decoration: none;
      transform: uppercase;
      align: center;
    }

    

    color: map-get($color, primary;)
    padding: 20px;
    color: map-get($color, secondary;)
  }

}

}

$widthH1: 400px;
$w2: $widthH1 + 20px;



h1{

  color: map-get($color, secondary;)
  padding: 20px;
  width: $widthH1;
}


